# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pdb

# Virtual environments
.venv/
venv/
ENV/

# Streamlit
.streamlit/*
!.streamlit/
!.streamlit/config.toml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Editor
.vscode/
